.responsive-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top-about {
  width: 600px;
  height: auto;
  margin: 2.5%;
}
.top-about p span {
  display: block;
  margin: 5px 0;
}
.intro-text {
  font-size: 30px;
}
.about-icon {
  max-width: 45px;
  margin: 0 2%;
}
.profile-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.about-me {
  margin: 3%;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.clip-art {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* Screen responsiveness laptop */
@media screen and (min-width: 1200px) {
  .responsive-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .top-about {
    margin-right: 5%;
  }
  .about-me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    margin-bottom: 35px;
  }
  .profile-pic {
    width: 100%;
    max-width: 650px;
    height: auto;
  }
  .clip-art {
    width: 500px;
    height: auto;
  }
  .image-center {
    margin-right: 6%;
  }
  .about-me p {
    max-width: 650px;
  }
}
.image-center {
  text-align: center;
}
